/**
  Said Sheck
  02/22/2022
  CSE 154 Section AA Max Bi
  The Following file provides the styling for the currency exchange page. For example
  adding white text and navy background with hints of salmon. As well as specifiying how the
  pages elements should be layed out with respect to eatch other. Such as having the exchange info
  and exchange result side by side.
*/

body {
  font-family: 'padauk', sans-serif;
  background: #1b2361;
  color: #2F3A8F;
}

header, main, #convert-section, #exchange-info, .currency-bar, .convert-info, .input-info, .input-container {
  display: flex;
}

header, #convert-section {
  justify-content: center;
}

main, button {
  margin-top: 100px;
}

main{
  flex-wrap: wrap;
}

header, .convert-info, .currency-bar:hover, .currency-barSelected {
  background-color: #2F3A8F;
}

header,
.convert-info,
.material-icons-outlined,
.currency-bar:hover,
.currency-barSelected,
footer,
footer a {
  color: #FFFFFF;
}

header, button, .convert-info {
  border-radius: 15px;
}

main, #exchange-info {
  justify-content: space-evenly;
}

main {
  align-items: center;
}

#convert-section {
  justify-content: space-between;
  margin-left: 0.75em;
}

header {
  height: 300px;
}

header,
.convert-info > h2,
.convert-info > p,
#exchange-info article,
.convert-info > h3,
footer {
  text-align: center;
}

.convert-info > p {
  margin-right: auto;
  margin-left: auto;
}

.convert-info, .input-info{
  flex-direction: column;
}

.convert-info {
  margin-bottom: 10px;
  font-size: 25pt;
  height: 20em;
  width: 20em;
}

.convert-info p {
  font-size: 20pt;
}

button, #exchange-info h3 {
  background-color: #FE7E6D;
}

button {
  width: 120px;
  height: 100px;
  margin-left: 20em;
  color: #fff;
  border: none;
}

button:hover, .convert-info, .currency-bar:hover, .currency-barSelected {
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0rgba(0, 0, 0, 0.19);
}

h1 {
  padding-top: 100px;
  font-size: 40pt;
  text-decoration: solid underline 5px #FE7E6D;
}

.material-icons-outlined {
  font-size: 80pt;
  margin-left: 0.2em;
}

#money-sign {
  padding-top: 1em;
}

#exchange-info p, #exchange-info {
  font-size: 30pt;
}

#exchange-info article {
  border: solid 10px #FE7E6D;
  width: 7em;
  height: 7em;
}

#exchange-info h3 {
  margin-top: 0px;
}

#currencies {
  height: 100vh;
}

#currencies, footer {
  width: 100%;
}

#currencies h2 {
  padding-top: 1.2em;
}

.currency-bar {
  background-color: rgb(216, 211, 211);
  color: #1b2361;
  border-radius: 14px;
  transition-property: all;
  transition-duration: 350ms;
  align-items: center; /* Vertically aligns the flag and text */
  justify-content: space-between; /* Aligns items to the left */
  margin-bottom: 0.625em; /* 10px, space between items */
  padding: 0.3125em; /* Padding for spacing between items */
  flex-wrap: wrap; 
}

.currency-flag {
  width: 2.5em;
  height: auto;
  margin-right: 0.625em;
  max-width: 3em;
}

.hidden {
  display: none;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: black;
}

#dollar-input {
  height: 3em;
}

#currency-list {
  height: 4em;
}

.input-container {
  align-items: center;
  justify-content: space-evenly;
}